*{
    color: white;
}

body{
    background-color: green;
    color: white;
}

table {
  background-color: white;
}

td,tr,th,thead, .th-inner {
    color: darkgray;
}

#compass {
    background-color: white;
}