body {
    padding-top: 55px;
}

#compass {
    background: url('../img/compass.png') no-repeat;
    background-size: cover;
    width: 180px;
    height: 180px;
    margin-right: auto;
    margin-left: auto;
}

#pointer {
    background: url('../img/pointer.png') no-repeat center center;
    background-size: 18% 70%;
    width: 180px;
    height: 180px;
}